header{
  background-color:#001830;
  margin:-8px;
  color:white;
  font-family:sans-serif;
  position:fixed;
  width:100%;
  margin-bottom:50px;
}
header img{
  position:relative;
  top:15px;
}
.buza{
  margin-bottom:50px;
}
