header{
  background-color:#001830;
  margin:-8px;
  color:white;
  font-family:sans-serif;
  position:static;
}
header img{
  position:relative;
  top:15px;
}
main p{
  font-size:100px;
  font-family:sans-serif;
  margin-top:2050px;
}
main p:hover{
  font-size:250px;
  color:red;
  transition:font-size,color 2s ease-out 2s;
  
}
